<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .center {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 50%;
        }
          /* Style to center grid column */
    .col-centered{
        float: none;
        margin: 0 auto;
    }

    /* Some custom styles to beautify this example */
    .row{
        background: #dbdfe5;
    }
    .demo-content{
        padding: 25px;
        font-size: 18px;
        background: #abb1b8;
    }


    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
<img src="https://www.wykop.pl/cdn/c3201142/comment_DmeNUBCMJAUKfuh7LisamkOglsi1iptN.gif"
     alt="https://www.wykop.pl/cdn/c3201142/comment_DmeNUBCMJAUKfuh7LisamkOglsi1iptN.gif" class="center"
     width="360" height="360"></body>

<div class="container my-3 bg-light">
    <div class="col-md-12 text-center">
        <button onclick="window.location.href='/login'" type="submit" class="btn btn-primary">Login</button>
    </div>
</div>
</html>